@model BlogPost
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    Layout = "_Layout2";
}

<span class="blog-post-tag">Test Tag 1</span>

<partial name="_BlogPostPartial" data="@Model" />

<span class="blog-post-tag">Test Tag 2</span>

@*@section Sidebar
{
    <h2>This is the sidebar!</h2>
}*@
